<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>

    <%- include('../partials/header') %>

    <link rel="stylesheet" href="../../../css/detalles.css">

    <main>

        <a href="#" id="main-arrow"><i class="fa-solid fa-circle-up"></i></a>
        <a href="/products/carrito" id="main-basket"><i class="fa-solid fa-basket-shopping"></i></a>
        
        <h2><%= book.title %></h2>

        <div class="main-container">

            <section class="only-images">

                <div class="big-image">
                    <img src="/images/books/<%= book.image %>" alt="<%= book.title %>">
                </div>

                <div class="images-container">

                    <button><i class="fa-solid fa-chevron-left"></i></button>
                    <button><img src="/images/books/<%= book.image %>" alt="tapa-imagen-chica"
                            class="small-images"></button>
                    <button><img src="/images/books/<%= book.image %>" alt="diagonal-imagen-chica"
                            class="small-images"></button>
                    <button><img src="/images/books/<%= book.image %>" alt="hojas-imagen-chica"
                            class="small-images"></button>
                    <button><img src="/images/books/<%= book.image %>"
                            alt="posterior-imagen-chica" class="small-images"></button>
                    <button><i class="fa-solid fa-chevron-right"></i></button>
                    
                </div>

            </section>

            <div class="main-info-container">

                <section class="main-info">

                    <article class="main-first">

                        <div class="main-info-details"><p>Autor: </p><p><%= book.author.fullname %></p></div>
                        <div class="main-info-details"><p>Editorial: </p><p><%= book.publisher.name %></p></div>
                        <div class="main-info-details"><p>Idioma: </p><p>Español</p></div>
                        <div class="main-info-details"><p>Año: </p><p><%= book.year %></p></div>
                        <div class="main-info-details"><p>ISBN: </p><p><%= book.isbn %></p></div>

                        <br>

                        <div class="main-info-details"><p>Dimensiones: </p><p>----- cm</p></div>
                        <div class="main-info-details"><p>Género: </p><p><%= book.genre.name %></p></div>
                        <div class="main-info-details"><p>Descripción: </p><p><%= book.description %></p></div>
                        <div class="main-info-details"><p>Páginas: </p><p><%= book.pages %></p></div>

                    </article>

                    <article class="main-second">
                        <div class="main-info-details"><h3>Valoración: </h3><h3>*****</h3></div>
                        <div class="main-info-details"><h3>Stock: </h3><h3><%= book.stock %></h3></div>
                        <div class="main-info-details"><h3>Precio: </h3><h3>$<%= book.price %></h3></div>
                    </article>

                </section>

                <button class="main-buyit">
                    <h2>Agregar al Carrito</h2>
                </button>
                <br>
                <button class="main-buyit">
                    <a href="/products/<%= book.book_id %>/edit"><h2>Editar Libro</h2></a>
                </button>

            </div>

        </div>

        <section class="main-review">

            <h3>Reseña:</h3>

            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id expedita sit nostrum recusandae tempora magnam voluptas nulla laudantium tempore delectus voluptates sint optio ad, nisi non architecto eaque. Ducimus, tempore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis culpa et officiis, ducimus laboriosam temporibus aperiam quos rem explicabo quis ipsum omnis magni nobis sit voluptas fuga! Porro, eius doloribus.</p>

        </section>

    </main>

    <aside>

        <h2>Productos Relacionados</h2>

        <div class="aside-container">

            <button><i class="fa-solid fa-chevron-left"></i></button>

            <div class="aside-element">
                <a href="#">
                    <img src="/images/books/<%= books[0].image %>" alt="<%= books[0].title %>">
                </a>
                <p><%= books[0].title %></p>
                <p>$<%= books[0].price %></p>
            </div>

            <div class="aside-element">
                <a href="#">
                    <img src="/images/books/<%= books[1].image %>" alt="<%= books[1].title %>">
                </a>
                <p><%= books[1].title %></p>
                <p>$<%= books[1].price %></p>
            </div>

            <div class="aside-element">
                <a href="#">
                    <img src="/images/books/<%= books[2].image %>" alt="<%= books[2].title %>">
                </a>
                <p><%= books[2].title %></p>
                <p>$<%= books[2].price %></p>
            </div>

            <div class="aside-element-tablet">
                <a href="#">
                    <img src="/images/books/<%= books[3].image %>" alt="<%= books[3].title %>">
                </a>
                <p><%= books[3].title %></p>
                <p>$<%= books[3].price %></p>
            </div>

            <div class="aside-element-pc">
                <a href="#">
                    <img src="/images/books/<%= books[4].image %>" alt="<%= books[4].title %>">
                </a>
                <p><%= books[4].title %></p>
                <p>$<%= books[4].price %></p>
            </div>

            <button><i class="fa-solid fa-chevron-right"></i></button>

    </aside>

    </div>

    <%- include('../partials/footer') %>

</body>

</html>