<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs')%>
        <link rel="stylesheet" href="/css/editarProducto.css">
</head>

<body>
    <%- include('./partials/header.ejs') %>

        <main class="main">
            <div class="card-users">
                <h1>Editar usuario</h1>

                <form method="POST" action="/users/<%= usuario.id %>?_method=PUT" enctype="multipart/form-data"
                    class="formulario">
                    <br>
                    <label for="firstName" class="form-label">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" value="<%= usuario.nombre %>" class="relleno"
                        required>
                    <br>
                    <br>
                    <label for="lastName" class="form-label">Apellido:</label>
                    <input type="text" id="apellido" name="apellido" value="<%= usuario.apellido %>" class="relleno"
                        required>
                    <br>
                    <br>
                    <label for="description" class="form-label">Email:</label>
                    <input type="text" class="relleno" id="email" name="email" placeholder="Email"
                        required="required" value="<%= usuario.email %>">
                    <br>
                    <br>
                    <label for="password" class="form-label">Contraseña:</label>
                    <input class="relleno" type="password" id="contrasenia" name="contrasenia" placeholder="Contraseña"
                        required>
                    <br>
                    <br>
                    <img class="user-image" src="/images/users/<%= usuario.imagen %>" alt="user-image" />
                    <br>
                    <label for="image" class="form-label">Seleccioná una imagen para el perfil:</label>
                    <input class="relleno2" type="file" id="imagen" name="imagen" accept=".jpg,.png" multiple>
                    <br>
                    <label for="gender" class="form-label">Género:</label>
                    <select name="genero" id="genero" class="relleno" value="<%= usuario.genero %>" required>
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                        <option value="Otro">Otro</option>
                    </select>
                    <br>
                    <br>
                    <label for="date_of_birth" class="form-label">Fecha de nacimiento:</label>
                    <input type="date" name="fecha_nacimiento" id="fecha_nacimiento" class="relleno" value="<%= usuario.fecha_nacimiento %>" required>
                    <br>
                    <br>
                    <label for="category" class="form-label">Categoría:</label>
                    <select name="categoria" id="categoria" class="relleno" value="<%= usuario.categoria %>">
                        <option value="Elegí">Elegí</option>
                        <option value="Minorista">Minorista</option>
                        <option value="Mayorista">Mayorista</option>
                    </select>
                    <br>
                    <br>
                    <label for="country" class="form-label">País:</label>
                    <input type="text" id="pais" name="pais" placeholder="Ej: Argentina" class="relleno" value="<%= usuario.pais %>">
                    <br>
                    <br>
                    <label for="city" class="form-label">Ciudad:</label>
                    <input type="text" id="ciudad" name="ciudad" placeholder="Ej: Bariloche, Río Negro" class="relleno" value="<%= usuario.ciudad %>">
                    <br>
                    <br>
                    <label for="address" class="form-label">Dirección:</label>
                    <input type="text" id="direccion" name="direccion" placeholder="Ej: Mitre N°259" class="relleno" value="<%= usuario.direccion %>">
                    <br>
                    <br>
                    <label for="tel" class="form-label">Teléfono:</label>
                    <input type="text" id="telefono" name="telefono" placeholder="Ej: +54 3854802561" class="relleno" value="<%= usuario.telefono %>">
                    <br>
                    <br>
                    <div class="botones-final">
                        <button type="submit" class="btn btn btn-info">Guardar cambios</button>
                        <a href="/users" class="btn btn btn-info">Volver</a>
                    </div>
                </form>

                <form action="/users/delete/<%= usuario.id %>?_method=DELETE" method="POST" class="formulariodelete">
                    <button class="btn btn-danger" id="boton-eliminar" type="submit" value="Eliminar usuario">Eliminar
                        usuario</button>
                </form>
            </div>
        </main>

        <%- include('./partials/footer.ejs')%>
</body>

</html>