<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>
  <link rel="stylesheet" href="/css/productDetail.css">

  <body>

    <%- include('./partials/header') %>

      <main class="main-product-detail">
        <div class="product-detail">
          <!-- Imagen del producto -->
          <img class="product-image" src="/images/products/<%= producto.image %>" alt="product-image" />

          <div class="product-info">
            <span class="product-name"><%= producto.name %></span>
            <span class="product-price">$<%= producto.price %></span>
            <span class="product-category"><%= producto.category %></span>

            <!-- Detalles técnicos del producto -->
            <p class="product-description"><%= producto.description %></p>

            <button class="botón-carrito" onclick="agregarProducto()">Agregar al Carrito</button>

          </div>
        </div>

        <!-- Sección de productos relacionados -->
        <span class="related-products"><h1>Productos relacionados</h1></span>
        <div class="related-products">

          <!-- Producto relacionado 1 -->
          <div class="main__product">
            <img class="main__product-img" src="/images/products/auri.logi.png" alt="imagen auris" />
            <h3>Auriculares Logitech Pro X Wireless</h3>
            <p>$32.000</p>
            <a href="/products/detail/2">Ver producto</a>
          </div>

          <!-- Producto relacionado 2 -->
          <div class="main__product">
            <img class="main__product-img" src="/images/products/teclado_red.png" alt="imagen teclado" />
            <h3>Teclado mecánico Redragon K630</h3>
            <p>$20.000</p>
            <a href="/products/detail/1">Ver producto</a>
          </div>

          <!-- Producto relacionado 3 -->
          <div class="main__product">
            <img class="main__product-img" src="/images/products/Procesador-Amd-Ryzen-9-7900X.png" alt="imagen Procesador-Amd-Ryzen-9-7900X" />
            <h3>Procesador AMD Ryzen 97900X AMD </h3>
            <p>$720.000</p>
            <a href="/products/detail/9">Ver producto</a>
          </div>

          <!-- Producto relacionado 4 -->
          <div class="main__product">
            <img class="main__product-img" src="/images/products/MEMORIADDR5.png" alt="imagen MEMORIADDR5" />
            <h3> Memoria Kingston FURY DDR5 </h3>
            <p>$320.000</p>
            <a href="/products/detail/10">Ver producto</a>
          </div>

          <!-- Producto relacionado 5 -->
          <div class="main__product">
            <img class="main__product-img" src="/images/products/rtx-4090.png" alt="imagen rtx-4090" />
            <h3>NVIDIA GeForce RTX 4090</h3>
            <p>$920.000</p>
            <a href="/products/detail/11">Ver producto</a>
          </div>

        </div>
      </main>

      <!-- Pie de página de la página -->
      <%- include('./partials/footer.ejs')%>
  </body>

</html>

<script>
  function agregarProducto() {
    const url = window.location.href;
    const id = url.split('/')[url.split('/').length -1]
    const newProduct = {
    product: id,
    cantidad: 1
  };

  let cart = [];

  if (localStorage.getItem('cart')) {
    cart = JSON.parse(localStorage.getItem('cart'));
    
    const existingProductIndex = cart.findIndex(item => item.product === id);

    if (existingProductIndex !== -1) {
      cart[existingProductIndex].cantidad++;
    } else {
      cart.push(newProduct);
    }
  } else {
    cart.push(newProduct);
  }

  localStorage.setItem('cart', JSON.stringify(cart));
  }
</script>