<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>
  <link rel="stylesheet" href="/css/userDetail.css">

  <body>

    <%- include('./partials/header') %>

      <main class="main-user-detail">
        <div class="user-detail">
          <!-- Imagen del usuario -->
          <img class="user-image" src="/images/users/<%= usuario.image %>" alt="product-image" />

          <div class="user-info">
            <span class="user-name">Nombre: <%= usuario.name %></span>
            <span class="user-email">Email: <%= usuario.email %></span>
            <span class="user-age">Edad: <%= usuario.age %></span>

            <button><a href="/users" class="botón-editar">Volver</a></button>

          </div>
        </div>
      </main>

      <%- include('./partials/footer.ejs')%>
  </body>

</html>