<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/register.css">

    <body>

        <%- include('../partials/header') %>

            <main class="mainRegistro">

                <a href="#" id="main-arrow"><i class="fa-solid fa-circle-up"></i></a>
                <a href="/carrito" id="main-basket"><i class="fa-solid fa-basket-shopping"></i></a>

                <div class="formularioRegistroShadow">

                    <form id="formularioRegistroBox" action="/users/profile/edit" method="post" enctype="multipart/form-data">

                        <h3 id="datosTitulo">Edite sus datos:</h3>


                        <input type="text" id="nombreApellido" name="nombreApellido" placeholder="Nombre y Apellido" value="<%= userFound.fullname %>"
                            required>


                        <input type="text" id="nombreUsuario" name="nombreUsuario" placeholder="Nombre de Usuario" value="<%= userFound.username %>"
                            required>


                        <input type="email" id="email" name="email" placeholder="Email" value="<%= userFound.email %>" required>


                        <label for="date" id="fechaNacimientoTitulo">Fecha de nacimiento:</label>
                        <input type="date" id="fechaNacimiento" name="fechaNacimiento" value="<%= userFound.birthday %>" required>


                        <label for="domicilio" id="domicilioTitulo">Domicilio:</label>
                        <input type="text" id="domicilio" name="domicilio" placeholder="Domicilio" value="<%= userFound.adress %>" required>


                        <label for="foto" id="fotoUsuarioTitulo">Foto de usuario:</label>
                        <input type="file" id="foto" name="foto" single>


                        <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña" required>

                        <input type="password" id="confirmarContrasena" name="confirmarContrasena"
                            placeholder="Confirmar Contraseña">

                        <div class="botonesBox">

                            <input id="botonBorrarRegister" type="reset" value="Borrar">
                            <input id="botonEnviarRegister" type="submit" value="Enviar">

                        </div>

                    </form>

                    </ul>

                </div>

            </main>

            <%- include('../partials/footer') %>

    </body>

</html>