<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/login.css">
    <script src="../../../js/validationsLoginFrontEnd.js"></script>

    <body>

        <%- include('../partials/header') %>

            <main class="mainLogin">

                <a href="#" id="main-arrow"><i class="fa-solid fa-circle-up"></i></a>
                <a href="/carrito" id="main-basket"><i class="fa-solid fa-basket-shopping"></i></a>

                <div class="formularioLoginShadow">

                    <form id="formularioLoginBox" action="/users/login" method="post">

                        <h3 id="datosLoginTitulo">Datos de Usuario:</h3>
                        <input type="text" id="email" name="email" placeholder="Email" required 
                        value="<%= locals.oldData ? oldData.email : null %>"><span></span>
                        <% if (locals.errors && errors.email) { %>
                            <div id="errors">
                                <%= errors.email.msg %>
                            </div>
                        <% } %>


                        <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña" 
                        required value="<%= locals.oldData ? oldData.contrasena : null %>"><span></span>
                        <% if (locals.errors && errors.contrasena) { %>
                            <div id="errors">
                                <%= errors.contrasena.msg %>
                            </div>
                        <% } %>

                        <div class="recordarmeBox">

                            <label for="recordarme" id="recordarmeTitulo">Recordarme</label>
                            <input type="checkbox" id="recordarme" name="recordarme" value="Recordarme">

                        </div>

                        <input id="botonEnviarLogin" type="submit" value="Enviar">

                    </form>

                    <ul class="linksLogin">

                        <li><a href="/users/register">Crear una cuenta</a></li>
                        <li><a href="#">Perdiste tu contraseña?</a></li>
                        <li><a href="/">Pagina Principal</a></li>

                    </ul>

                </div>

            </main>

            <%- include('../partials/footer') %>

    </body>

</html>