<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>
    <script src="../../../js/validationsRegisterFrontEnd.js"></script>
    <link rel="stylesheet" href="/css/register.css">

    <body>

        <%- include('../partials/header') %>

        <main class="mainRegistro">

            <a href="#" id="main-arrow"><i class="fa-solid fa-circle-up"></i></a>
            <a href="/carrito" id="main-basket"><i class="fa-solid fa-basket-shopping"></i></a>

            <div class="formularioRegistroShadow">

                <form id="formularioRegistroBox" action="/users/register" method="post"
                        enctype="multipart/form-data">

                    <h1 id="datosTitulo">Ingrese sus datos:</h1>


                    <label for="nombreApellido" id="nombreApellidoTitulo">Nombre y Apellido:</label>
                    <input type="text" id="nombreApellido" name="nombreApellido" placeholder="Nombre y Apellido" required 
                      value="<%= locals.oldData ? oldData.nombreApellido : null %>"><span></span>
                        <% if (locals.errors && errors.nombreApellido) { %>
                            <div id="errors">
                                <%= errors.nombreApellido.msg %>
                            </div>
                        <% } %>


                    <label for="nombreUsuario" id="nombreUsuarioTitulo">Nombre de Usuario:</label>
                    <input type="text" id="nombreUsuario" name="nombreUsuario" placeholder="Nombre de Usuario" required 
                    value="<%= locals.oldData ? oldData.nombreUsuario : null %>"><span></span>
                        <% if (locals.errors && errors.nombreUsuario) { %>
                            <div id="errors">
                                <%= errors.nombreUsuario.msg %>
                            </div>
                        <% } %>


                    <label for="email" id="emailTitulo">Email:</label>
                    <input type="email" id="email" name="email" placeholder="Email" required 
                    value="<%= locals.oldData ? oldData.email : null %>"><span></span>
                    <% if (locals.errors && errors.email) { %>
                        <div id="errors">
                            <%= errors.email.msg %>
                        </div>
                    <% } %>


                    <label for="fechaNacimiento" id="fechaNacimientoTitulo">Fecha de nacimiento:</label>
                    <input type="date" id="fechaNacimiento" name="fechaNacimiento" required 
                    value="<%= locals.oldData ? oldData.fechaNacimiento : null %>"><span></span>
                    <% if (locals.errors && errors.fechaNacimiento) { %>
                        <div id="errors">
                            <%= errors.fechaNacimiento.msg %>
                        </div>
                    <% } %>


                    <label for="domicilio" id="domicilioTitulo">Domicilio:</label>
                    <input type="text" id="domicilio" name="domicilio" placeholder="Domicilio" required 
                    value="<%= locals.oldData ? oldData.domicilio : null %>"><span></span>
                    <% if (locals.errors && errors.domicilio) { %>
                        <div id="errors">
                            <%= errors.domicilio.msg %>
                        </div>
                    <% } %>


                    <label for="foto" id="fotoUsuarioTitulo">Foto de usuario:</label>
                    <input type="file" id="foto" name="foto" single 
                    value="<%= locals.oldData ? oldData.foto : null %>"><span></span>
                    <% if (locals.errors && errors.foto) { %>
                        <div id="errors">
                            <%= errors.foto.msg %>
                        </div>
                    <% } %>


                    <label for="contrasena" id="contrasenaTitulo">Contrase単a:</label>
                    <input type="password" id="contrasena" name="contrasena" placeholder="Contrase単a" required 
                    value="<%= locals.oldData ? oldData.contrasena : null %>"><span></span>
                    <% if (locals.errors && errors.contrasena) { %>
                        <div id="errors">
                            <%= errors.contrasena.msg %>
                        </div>
                    <% } %>


                    <label for="confirmarContrasena" id="confirmarContrasenaTitulo">Confirmar Contrase単a:</label>
                    <input type="password" id="confirmarContrasena" name="confirmarContrasena"
                        placeholder="Confirmar Contrase単a" required 
                        value="<%= locals.oldData ? oldData.confirmarContrasena : null %>"><span></span>
                    <% if (locals.errors && errors.confirmarContrasena) { %>
                        <div id="errors">
                            <%= errors.confirmarContrasena.msg %>
                        </div>
                    <% } %>

                            
                    <div class="terminosServiciosBox">

                        <label for="terminosServicios" id="terminosServiciosTitulo">Acepto los terminos y
                            Servicios</label>
                        <input type="checkbox" id="terminosServicios" name="terminosServicios" >
                        <br><br>
                        <span></span>

                    </div>

                    <div class="botonesBox">

                        <input id="botonBorrarRegister" type="reset" value="Borrar">
                        <input id="botonEnviarRegister" type="submit" value="Enviar">

                    </div>

                </form>

                <ul class="linksRegistro">

                    <li><a href="/login">Ya tengo una cuenta</a></li>
                    <li><a href="/">Pagina Principal</a></li>

                </ul>

            </div>

        </main>

        <%- include('../partials/footer') %>

    </body>

</html>